<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 align="center">Members</h1>
		<% @users.each do |user|%>
			<p><%= link_to user.full_name, user_path(user) %></p>
		<% end %> 
	</div>
</div>