<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 align="center">Members</h1>
		<% @users.each do |user|%>
			<p><%= link_to user.full_name, user %></p>
				<h3 align="center">Interests</h3>
		<% user.interests.each do |interest| %>
			<h3 align="center"><%= link_to interest.name, interest %></h3>
		<% end %> 
	<% end %> 
	</div>
</div>
