
<div align="center" id="logo">
	<div id="logo">
		<img class="logo" src="https://s3-us-west-1.amazonaws.com/myjuntasbucket/photos/Juntas.Logo.png" alt="Juntas_Logo" >
	</div>
    <div class="embed-container">
        <%= embed(welcomes.youtube_url) if welcomes.youtube_url %>
    </div> 
	<ul style="list-style-type:none" class="main-nav">
		<li>Mission</li>
		<li><%= link_to "Become a Member", "/signup" %></li>
		<li>Meet the Team</li>
	</ul> 
</div>


