<div class="container" id="user_profile">
	<div class="col-lg-12 text-center well">
			<h1 align="center"><%= @interest.name %></h1>
				<% @interest.users.each do |user| %> 
						<%= link_to user.full_name, user_path(user) %></p>
				<% end %> 
	</div>
</div>

	

