/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/*Color Schema: 
Yellow: #fce57b
Aqua: #00d6ff
Peach: #faa978*/
 @import "bootstrap-sprockets";
 @import "bootstrap";


 #logo {
 	padding-bottom: 20px; 
 }

nav-links {
  display: inline;
}

#main-navbar{
  background-color: #fce57b; 
}

p {
  font-size: 27px;
}

body {
 font-family: Futura;
}

#profile_image {
	padding-top: 90px; 
}

h1 {
	font-size: 50px;
}
 
li {
	text-align: center;
}