/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/*Color Schema: 
Yellow: #fce57b
Aqua: #00d6ff
Peach: #faa978*/
 @import "bootstrap-sprockets";
 @import "bootstrap";


 #logo {
 	padding-top: 40px;
 	padding-bottom: 40px; 
 }

ul.main-nav {
	display: inline; 
	padding: 70px;
	font-size: 20px;
	font-style: 'Copperplate/Copperplate Gothic Light', sans-serif;

}

ul.nav.navbar-nav.pull-right {
  margin-right: 45px;
}

.navbar-default {
    border: 0;
    border-radius: 0;
    border-color: rgba(34,34,34,.8);
    background-color: #fce57b;
    margin-bottom: 0;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    font-family: 'Sniglet','Helvetica Neue',Arial,sans-serif;
    font-weight: 900;
    color: #f05f40;
    margin-left: 20px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #00d6ff;
}


.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #f05f40!important;
    /*background-color: transparent;*/
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    /*background-color: transparent;*/
}

